<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helldivers Monitor</title>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">    
</head>

<body class="bg-gray-900 text-white">
    <div class="flex flex-col min-h-screen">
        <header class="flex justify-between items-center p-4 bg-gray-800">
            <h1>
                <a class="text-3xl font-bold" href="/">HELLDIVERS DEPLOYMENT</a>
            </h1>
            <nav class="relative">
                <button class="lg:hidden flex items-center px-3 py-2 border rounded text-white border-white hover:text-gray-400 hover:border-gray-400" onclick="document.getElementById('nav-menu').classList.toggle('hidden');">
                    <i class="fas fa-bars"></i>
                </button>
                <ul id="nav-menu" class="hidden lg:flex lg:items-center lg:space-x-4">
                    <li><a class="text-lg text-white hover:text-gray-400" href="/matches">Matches</a></li>
                    <li><a class="text-lg text-white hover:text-gray-400" href="/stratagems">Strategems</a></li>
                    <li><a class="text-lg text-white hover:text-gray-400" href="/campaigns">Campaigns</a></li>
                    {{#if logged_in}}
                    <li><a class="text-lg text-white hover:text-gray-400" href="/profile">Profile</a></li>
                    <li><button class="text-lg text-white hover:text-gray-400 no-button" id="logout">Logout</button></li>
                    {{else}}
                    <li><a class="text-lg text-white hover:text-gray-400" href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        <main class="flex-grow container mx-auto p-4 mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer class="bg-gray-800 p-4 text-center">
            <p>&copy; 2024 Helldivers Deployment. All rights reserved.</p>
        </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
