{{!-- home.handlebars --}}
<div class="margin-at-top text-white">
    <img class="d-block mx-auto" src="../images/diverlogo.png" alt="Helldivers Logo" width="760" height="320">
    <h1 class="display-5 fw-bold text-center">Spread Managed Democracy</h1>
    <div class="mx-auto" style="max-width: 500px;">
        <p class="lead mb-4 text-center text-white">Become a Hero Become a Legend Become a Helldiver!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign In</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">War Stats</button>
        </div>
    </div>
</div>
