<div class="margin-above">
    <div class="loadout_container">
        <div class="card-container">
            <div class="card">
                <p class="card_name"><a class="card_badge">Badge</a>Logged in player name</p>
                <img src="./images/pp.png" alt="Person" class="card__image_1">
                <div class="grid-container">
                    <div class="grid-child-posts">
                        1156 WINS
                    </div>
                    <div class="grid-child-followers">
                        1012 LOSSES
                    </div>
                </div>
                <ul class="social-icons">
                    <li><a href="#"><img src="/images/stratagems/anti-materiel-rifle.svg" alt="Person" class=""></a>
                    </li>
                    <li><a href="#"><img src="/images/stratagems/anti-materiel-rifle.svg" alt="Person" class=""></a>
                    </li>
                    <li><a href="#"><img src="/images/stratagems/anti-materiel-rifle.svg" alt="Person" class=""></a>
                    </li>
                    <li><a href="#"><img src="/images/stratagems/anti-materiel-rifle.svg" alt="Person" class=""></a>
                    </li>
                </ul>
                <button class="btn draw-border">SAVE LOADOUT</button>
            </div>
        </div>

        <div class="menu-container">
            <div class="game-style-menu">
                <div class="menu-heading">Stratagems:</div>
                <div class="weapon-options">
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 1">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/arc-thrower.svg" alt="Weapon 2">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/grenade-launcher.svg" alt="Weapon 3">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/machine-gun.svg" alt="Weapon 4">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/recoilless-rifle.svg" alt="Weapon 5">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/laser-cannon.svg" alt="Weapon 6">
                    </label>
                </div>

                <div class="menu-heading">Bestiary:</div>
                <div class="weapon-options">
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 1">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 2">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 3">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 4">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 4">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 4">
                    </label>
                </div>

                <div class="menu-heading">Equipment:</div>
                <div class="weapon-options">
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 1">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 2">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 3">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 4">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 5">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 6">
                    </label>
                </div>

                {{!-- <div class="menu-heading">Miscellaneous:</div>
                <div class="weapon-options">
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 1">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 2">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 3">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 4">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 5">
                    </label>
                    <label class="menu-item weapon-option draw-border">
                        <img src="/images/stratagems/anti-materiel-rifle.svg" alt="Weapon 6">
                    </label>
                </div> --}}
            </div>
        </div>

    </div>


</div>