{{!-- login.handlebars --}}
<div class="row justify-content-center align-items-center"> <!-- Center the content horizontally and vertically -->

  <div class="col-md-6">
    <div class="form-container">
      <form class="border p-4 rounded shadow-sm margin-at-top"> <!-- Add border, padding, rounded corners, shadow, and margin-top -->
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="#" class="sign-up-link">Sign Up</a> <!-- Sign Up link -->
    </div>
  </div>

</div>


<script src="./js/login.js"></script>