{{!-- strategies.handlebars --}}
<div class="container">
    <h1>Strategies</h1>
    <ul>
        {{#each strategies}}
            <li>{{this.name}} - {{this.description}}</li>
            <!-- Add any additional strategy details here -->
        {{/each}}
    </ul>
</div>
