{{!-- strategies.handlebars --}}
<div class="container">
    <h1>Stratagems</h1>
    <ul>
        {{#each stratagems as |s|}}
            <li>{{s.name}} - {{s.description}}</li>
            <!-- Add any additional strategy details here -->
        {{/each}}
    </ul>
</div>
