* {
  font-family: "Quantico", sans-serif;
}
header, .project:not(:last-child) {
  border-bottom: 3px solid #888888;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  text-decoration-color: #FFD000;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1B89BC;
  text-decoration: none;
  font-size: 100%;
}
.no-button:hover {
  color: #065B83;
  text-decoration: underline;
}
.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.diver_background{
  background-image: url("../images/divers_bg.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.border-red{
  border: 1px solid red;
}
.margin-at-top{
  margin-top: 200px;
}
.form-container {
  position: relative; /* Make the container position relative */
}
.sign-up-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #007BFF;
}
.sign-up-link:hover {
  text-decoration: underline;
}
/* Campaign */
.campaign-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campaign {
  font-family: "Orbitron", sans-serif;
  background-color: rgba(169, 169, 169, 0.469);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}
.campaign-card {
  background-color: black;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 350px;
}
.planetname {
  font-family: "Quantico",  sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.biome {
  font-family: "Orbitron", sans-serif;
  text-transform: capitalize;
}
.campaign-top-wrapper {
  background: linear-gradient(-45deg, #323232cc 33%, #3c3c3c99 33%, #3c3c3c99 70%, #323232cc 70%);
  background-size: 50px;
}
.automatonsImage {
  width: 10%;
  height: 50%;
  float: left;
  margin-right: 5px;
}
.terminidsImage {
  width: 10%;
  height: 50%;
  float: left;
  margin-right: 5px;
}
.player-count-image {
  width: 10%;
  height: 50%;
}