@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

* {
  font-family: "Quantico", sans-serif;
}
header, .project:not(:last-child) {
  border-bottom: 3px solid #888888;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  text-decoration-color: #FFD000;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1B89BC;
  text-decoration: none;
  font-size: 100%;
}
.no-button:hover {
  color: #065B83;
  text-decoration: underline;
}
.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.diver_background{
  background-image: url("../images/divers_bg.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.border-red{
  border: 1px solid red;
}
.margin-at-top{
  margin-top: 200px;
}
.form-container {
  position: relative; /* Make the container position relative */
}
.sign-up-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #007BFF;
}
.sign-up-link:hover {
  text-decoration: underline;
}
/* Campaign */
.campaign-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campaign {
  font-family: "Orbitron", sans-serif;
  background-color: rgba(169, 169, 169, 0.469);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}
.svg {
  width: 5%;
  height: 100%;
}

.campaign-card {
  background-color: black;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 350px;
}
.planetname {
  font-family: "Quantico",  sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.biome {
  font-family: "Orbitron", sans-serif;
  text-transform: capitalize;
}
.campaign-top-wrapper {
  background: linear-gradient(-45deg, #323232cc 33%, #3c3c3c99 33%, #3c3c3c99 70%, #323232cc 70%);
  background-size: 50px;
}
.automatonsImage {
  width: 10%;
  height: 50%;
  float: left;
  margin-right: 5px;
}
.terminidsImage {
  width: 10%;
  height: 50%;
  float: left;
  margin-right: 5px;
}
.player-count-image {
  width: 10%;
  height: 50%;
}

/* loadout styles */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* Loadout styles */
.card-container {
  flex: 1;
}
.card {
  background-color: #222831;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}
.card_name{
  border: 1px solid gray;
  padding: 2px;
}
.card_badge{
  border: 1px solid red;
  margin-right: 8px;
}
.card__image_1 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  box-shadow: 0 10px 50px #e4b176;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2em;
  margin-top: 15px;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
  border: 1px dashed yellow;
  margin-top: 0px;
}

.social-icons a {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 10px;
  display: block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";

  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover:before {
  border-color: transparent;
}
.btn {
  background: none;
  border: 1px dashed yellow;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 98%;
}

.btn:focus {
  outline: 2px dotted yellow;
}

/* Loadout options */
.menu-container {
  flex: 1;
  padding: 20px;
  background: none;
  /* top: -450px; */
  position: relative;
}

@media only screen and (max-width: 768px) {
  .menu-container {
      flex: 1;
      padding: 10px;
      background: none;
      top: 0;
      position: relative;
      background: gray;
  }
}
.game-style-menu {
  /* background-color: transparent; */
  padding: 10px;
  border-radius: 10px;
  /* color: white; */
}
.menu-heading {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.armor-options,
.weapon-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.armor-option,
.weapon-option {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.armor-option img,
.weapon-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px dashed yellow;
}

.armor-option.selected,
.weapon-option.selected {
    border: 2px solid #ffba08;
}

/* Avatar styles */

.avatar-icons {
  padding: 50px;
  list-style: none;
  gap: 40px;
  display: inline-flex;
  flex-wrap: wrap;
}
.avatar_image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #272133;
  box-shadow: 0 10px 50px #e4b176;
}

/* Match page styles */
.container-unique {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Paaji 2', cursive;
  margin-top: 10px;
}

.card-unique {
  background-color: #222831;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name-unique {
  border: 1px solid red;
  width: 100%;
}

.card_badge-unique {
  border: 1px solid red;
  margin-right: 8px;
}

.card__image-unique {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  box-shadow: 0 10px 50px #e4b176;
}

.grid-container-unique {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2em;
  margin-top: 15px;
}

.btn-unique {
  background: none;
  border: 1px dashed yellow;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 98%;
}

.btn-unique:focus {
  outline: 2px dotted yellow;
}

.social-icons-unique {
  padding: 0;
  list-style: none;
}

.social-icons-unique li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
  border: 1px dashed yellow;
  margin-top: 0px;
}

.social-icons-unique a {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 10px;
  display: block;
}

.social-icons-unique a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  transition: all 265ms ease-out;
}

.social-icons-unique a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons-unique a:hover:before {
  border-color: transparent;
}

.draw-border-unique {
  color: yellow;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border: 1px dashed yellow;
}

.draw-border-unique::before,
.draw-border-unique::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border-unique::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border-unique::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border-unique:hover {
  color: #ffe593;
}

.draw-border-unique:hover::before,
.draw-border-unique:hover::after {
  border-color: yellow;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border-unique:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border-unique:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}
